NEXT_PUBLIC_SANITY_PROJECT_ID=lihbhllf
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_READ_TOKEN=
PINECONE_API_KEY=
PINECONE_INDEX_NAME=zabnix-knowledge
PINECONE_INDEXING_SECRET=
SANITY_WEBHOOK_SECRET=9917d84f6453ad2da10f44f723cb3318d11c78f31a081454a57dd4975058334e
GOOGLE_CLOUD_PROJECT=shield-zabnix
GOOGLE_CLOUD_LOCATION=global
GOOGLE_GENAI_USE_VERTEXAI=true
GEMINI_MODEL=gemini-2.5-flash
PINECONE_MINIMUM_SIMILARITY=0.15
